.create-target {
  @include pagesTitle;

  &__title {
    margin: 50px 0 50px 0;
  }

  &__subtitle {
    @include pagesSubtitle;
    margin: 0 0 50px 0;
    text-align: center;
  }

  &__button {
    padding-top: 25px;
  }

  &__target-name {
    @include textFieldGroup;
  }

  &__text-field {
    @include textField;
  }

  &__name {
    display: inline-block;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
