.registration {
  @include pagesTitle;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__text-field-group {
    @include textFieldGroup;
  }

  &__text-field {
    @include textField;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
