.start {
  @include pagesTitle;

  &__subtitle {
    font-size: 16px;
    text-align: left;
    margin: 20px 0 0 0;
  }

  &__highlight-subtitle {
    color: #6e41ce;
  }

  &__question {
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 20px 0;
  }

  &__link {
    color: #fff;
    margin: 0 25px;
    padding-bottom: 2px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;

    &:hover {
      background-size: 100% 2px;
    }
  }

  &__login {
    text-align: center;
  }

  &__button {
    margin: 50px 0 50px 0;
  }
}
