.interactive-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;

  &__title:hover {
    cursor: pointer;
  }

  &__logo {
    width: max-content;
  }

  &__image {
    width: 35px;
    transition: 2s;
    &:hover {
      cursor: pointer;
      transform: rotate(360deg);
    }
  }

  &__button {
    margin-left: 150px;
  }
}
