// IMPORT FONTS
@import "./fonts.scss";
// ============================================

// IMPORT RESET STYLES
@import "reset.scss";
// ============================================

// GENERAL STYLES
body {
  font-family: "Open Sans", sans-serif;
  //   background-color: #0f1119;
  background: rgb(29, 34, 52);
  background: radial-gradient(
    circle,
    rgba(29, 34, 52, 1) 0%,
    rgba(15, 17, 25, 1) 100%
  );
  color: #ffffff;
}
// ============================================

// IMPORT MIXINS
@import "./mixins.scss";
// ============================================

// IMPORT COMPONENT STYLES
@import "./header.scss";
@import "./footer.scss";
@import "./page-styles/start-page.scss";
@import "./page-styles/registration-page.scss";
@import "./page-styles/create-target-page.scss";
@import "./button.scss";
// ============================================
